.navbarWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 50;
    padding-right: 3.5rem;
}

.navTextContainer {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5vw;
    color: white;
}

.navTxt {
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

.navTxt.active {
    font-weight: bold;
}

.sheet {
    
    border: none;
}


.sheetTitle {
    color: white;
    margin-bottom: 2rem;
    text-align: center;
}
.sheetContent {
    background: radial-gradient(50% 202.95% at 50% 50%, #511D4B 0%, #35002F 100%);

    color: white;
    height: max-content;
    border-radius: 12px;
    margin-top: 4.5vw;
    margin-right: 2vw;
    border: none;
}

.sheetNav {
    cursor: pointer;
    padding: .5rem;
    padding-left: 0;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 14px;
}

.sheetNav.active {
    /* color: #c100aa; */
    font-weight: bold;
    font-size: 17px;
}

.navTxt>hr {
    position: absolute;
    width: 0%;
    border: none;
    height: 2.5px;
    background-color: white;
    top: 110%;
    left: -1%;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.navTxt:hover>hr {
    width: 100%;
}

.navCtaWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navCTA {
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 64px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    background-color: #fff;
}


.menuIconWrapper {
    display: none;
    z-index: 999;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.menuIcon {
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.popOverContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


 
/* Tab */
@media (max-width: 1026px) {
    .navbarWrapper {
        padding-right: 0;
        /* border: 1px solid white; */
    }
}
@media (max-width: 992px) {

    .navTextContainer.large {
        display: none;
    }


    .menuIconWrapper {
        display: flex;
    }
    
}


/* Mobile */
@media (max-width: 575px) {

    .navCTA {
        padding: .7rem 1.8rem;
        font-size: 13px;
    }

    .navbarWrapper {
        padding: 0;
    }

}