.heroWrapper {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 3.5vw 5vw;
    overflow: hidden;
    height: max-content;
    display: flex;
}

.heroSubWrapper {
    border-radius: 40px;
    width: 100%;
    background: radial-gradient(50% 202.95% at 50% 50%, #511D4B 0%, #35002F 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: relative;
    gap: 2rem;
    overflow: hidden;
}

.gridLines {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.extraGradientCirc {
    width: 430px;
    height: 430px;
    border-radius: 50%;
    background-color: #e44195bf;
    position: absolute;
    left: -70px;
    bottom: -70px;
    filter: blur(200px);
}

.lowerSubHeroWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0;
    gap: 4rem;
    z-index: 50;
    height: 100%;
}

.leftContainer {
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.innerLeftContainer {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    color: white;
    gap: 1rem;
    /* padding-left: 1.5rem; */
    justify-content: center;
    /* align-items: flex-end; */
    height: 100%;
}

.heroTitleWrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.heroTxt {
    font-size: 3.7vw;
    font-weight: 400;
}

.checkMark.hero {
    width: 3vw;
    aspect-ratio: 1;
}

.breakTxt {
    display: none;
}

.heroTxt .hey {
    font-style: italic;
    font-family: var(--font-ibm-plex-serif), Arial, Helvetica, sans-serif;
}

.heroTxt .name {
    font-weight: bolder;
}

.heroDesc {
    /* width: 80%; */
    font-size: 1.4vw;
    line-height: 135%;
    font-weight: 400;
}

.heroDesc.bolder {
    font-weight: bolder;
}

.heroCta {
    padding: .8rem 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: black;
    width: max-content;
    border-radius: 56px;
    gap: .7rem;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.ctaIcon {
    width: 27px;
    height: max-content;
}



.rightContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1.5rem;
    padding-right: 0;
}


.profileImg {
    /* height: max-content; */
    width: 100%;
    /* max-height: 600px; */
    max-height: 100%;
    aspect-ratio: 1;
}




/* Tab */
@media (max-width: 1350px) {

}

@media (max-width: 1026px) {
    /* .heroWrapper {
        padding: 2rem 2rem;
    } */

    .heroSubWrapper {
        padding: 2rem 2.5rem;
        gap: 4rem;
        flex: 1;
    }

    
    .lowerSubHeroWrapper {
        flex-direction: column;
        gap: 3rem;
    }

    .leftContainer {
        width: 100%;
    }

    .innerLeftContainer {
        
        gap: 1.5rem;
        padding-left: 0;
    }

    
    .heroTxt {
        font-size: 7vw;
    }


    .heroDesc {
        font-size: 2.5vw;
        font-weight: lighter;
    }
  
    
.rightContainer {
    width: 100%;
    padding: 0;
}


.checkMark.hero {
    width: 6vw;
}

}


/* Mobile */
@media (max-width: 575px) {
    .heroWrapper {
        padding: 1rem .7rem;
    }

    .heroSubWrapper {
        border-radius: 25px;
        padding: 1.5rem;
        /* padding-left: 2rem; */
        gap: 3rem;
    }


    .heroTitleWrapper {
        position: relative;
    }

    .heroTxt {
        font-size: 12vw;
        font-weight: 400;
    }

    .breakTxt {
        display: inline;
    }

    .checkMark.hero {
        position: absolute;
        width: 10vw;
        top: 15%;
        left: 45%;
        transform: translateX(-80%);
    }

    .heroDesc {
        font-size: 4vw;
        font-weight: lighter;
    }

    
.extraGradientCirc {
    width: 330px;
    height: 330px;
    background-color: #e44195bf;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(200px);
}



.rightContainer {
    width: 100%;
    height: 100%;
}

.profileImg {
    height: max-content;
    width: 100%;
}


}