.topCoursesWrapper {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    box-sizing: border-box;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
    gap: 6rem;

    height: max-content;
}

.topCoursesTitle {
    font-size: 45px;
    font-weight: 500;
}

.coursesInnerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    /* border: 1px solid white; */
    height: max-content;
}



@media (max-width: 992px) {

    .coursesInnerWrapper {
        gap: 4rem;
    }

    .coursesInnerWrapper {
        flex-direction: column;
    }
}


@media (max-width: 575px) {
    .topCoursesTitle {
        font-size: 8vw;
    }
}