.trustedPartnerWrapper {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    gap: 2rem;
    margin-bottom: 5rem;
}

.sectionTitle {
    font-size: 15px;
    text-transform: uppercase;
    color: #7B7B7B;
    font-weight: 500;
}

.partnersWrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    flex-wrap: wrap;
    box-sizing: border-box;
}





/* Mobile */
@media (max-width: 992px) {

    .partnerLogo {
        width: 90px;
        height: max-content;
    }
}


@media (max-width: 575px) {


    .trustedPartnerWrapper {
        width: 100%;
        padding: 1rem 2rem;
        margin-bottom: 5rem;
    }

    .partnersWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: normal;
    }

}