.flagShipCourse_wrapper {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(270deg, #511D4B 0%, #35002F 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: max-content;
    padding: 3rem 0;
}

.courseDetails_wrapper {
    display: flex;
    align-items: baseline;
    padding-left: 10%;
    justify-content: center;
    /* border: 1px solid white; */
    width: 50%;
    flex-direction: column;
    height: 100%;
    gap: 1.8rem;
}

.courseDetails_wrapper_top {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.flagship_labelTxt {
    color: #E44195;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.flagship_courseTitle {
    font-size: 4vw;
    font-weight: 600;
    width: 70%;
}

.flagship_courseDesc {
    font-size: 1.3vw;
    font-weight: 500;
    width: 80%;
}




.flagship_mentorInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid white; */
}

.flagship_divHeader {
    font-size: 1.2vw;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.flagship_divInfo.checks {
    font-size: 1.1vw;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    margin-top: .5rem;
    letter-spacing: .7px;
}

.flagship_courseChecks {
    position: relative;
    margin-left: 2rem;
}

.flagship_courseChecks::before {
    content: '✓';
    position: absolute;
    top: 50%;
    left: -1.7rem;
    transform: translateY(-50%);
    color: white;
}


.flagship_actionBtnWrapper {
    width: max-content;
    height: max-content;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    /* border: 1px solid white; */
}

.flagship_actionBtn {
    width: 210px;
    height: max-content;
    padding: 1rem 0;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.flagship_actionBtn.buy {
    background-color: white;
    color: black;
}

.flagship_actionBtn.view {
    border: 1px solid #3A3A3A;
}






.courseCard_wrapper {
    width: 50%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flagship_card {
    width: 70%;
    height: 100%;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.starContainer {
    position: absolute;
    right: -20px;
    top: -30px;
}

.upperContainer {
    width: 100%;
    height: 60%;
    background-color: black;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}



.mentorInfo.flagship {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}


.divHeader.flagship {
    font-size: 13px;
    font-weight: 500;
    color: #7B7B7B;
    text-transform: uppercase;
}


.divInfo.flagship {
    font-size: 29px;
    font-weight: 600;
}

.divInfo.div.flagship {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}


.strikeThrough.flagship {
    font-size: 24px;
    color: #3A3A3A;
    display: flex;
    position: relative;
    /* border: 1px solid white; */
}


.lowerContainer {
    width: 100%;
    height: 40%;
    background: linear-gradient(270deg, #1A1A1A 0%, #141414 100%);
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    padding: 0 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




@media (max-width: 992px) {
    
    .flagShipCourse_wrapper {
        flex-direction: column;
    }

    
.courseDetails_wrapper {
    padding-left: 15%;
    width: 90%;
    gap: 1.3rem;
}

.flagship_labelTxt {
    font-size: 15px;
    letter-spacing: 3px;
}

.flagship_courseTitle {
    width: 95%;
}

.flagship_courseDesc {
    font-weight: 400;
    width: 95%;
}



.flagship_actionBtnWrapper {
    padding: 1rem 0;
    gap: 2rem;
}

.flagship_actionBtn {
    width: max-content;
    padding: .8rem 3.5rem;
    font-weight: 600;
}

.flagship_actionBtn.view {
    border: 1px solid #ffffff;
}




.courseCard_wrapper {
    width: 60%;
    height: 45vh;
}

.flagship_card {
    width: 100%;
    height: 100%;
}

.starContainer {
    right: -18px;
    top: -18px;
}

.lowerContainer {
    /* height: 50%; */
    padding: 0 1.5rem;
    gap: 1rem;
}


}


@media (max-width: 575px) {
    .flagShipCourse_wrapper {
        flex-direction: column;
    }

    
.courseDetails_wrapper {
    padding-left: 0;
    width: 90%;
    gap: 1.3rem;
}

.flagship_labelTxt {
    font-size: 15px;
    letter-spacing: 3px;
}

.flagship_courseTitle {
    font-size: 12vw;
    width: 95%;
}

.flagship_courseDesc {
    font-size: 4vw;
    font-weight: 400;
    width: 95%;
}


.flagship_divHeader {
    font-size: 4.4vw;
}


.flagship_divInfo.checks {
    font-size: 3.7vw;
}


.flagship_actionBtnWrapper {
    padding: 1rem 0;
    gap: 2rem;
}

.flagship_actionBtn {
    width: max-content;
    padding: .8rem 3.5rem;
    font-size: 3vw;
    font-weight: 600;
}

.flagship_actionBtn.view {
    border: 1px solid #ffffff;
}




.courseCard_wrapper {
    width: 85%;
    height: 50vh;
}

.flagship_card {
    width: 100%;
    height: 100%;
}

.starContainer {
    right: -18px;
    top: -18px;
}

.cardStar {
    width: 40px;
    aspect-ratio: 1;
}

.upperContainer {
    height: 50%;
}

.lowerContainer {
    height: 50%;
    padding: 0 1rem;
    gap: 1rem;
}


}